.card {
    background: var(--color-black);
    max-height: 232px;
    width: 159px;
    border-radius: 10px;
}

.chip {
    color: white;
    background-color: var(--color-black);
  

}

.cardContent {
    background-color: var(--color-black);
    color: white;
    text-align: left;
}

.div{
    height: 205px;
    border-radius: 10px;
    background-color: white;
}

img{
    border-radius: 10px;
}